<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-striped tabs-icon-top tabs-color-active-positive">

  <!-- Trending Gifs Tab -->
  <ion-tab title="Hot" icon-off="ion-arrow-graph-up-right" icon-on="ion-arrow-graph-up-right" ui-sref="home.trending">
    <ion-nav-view name="trending"></ion-nav-view>
  </ion-tab>

  <!-- Favourites Gifs Tab -->
  <ion-tab title="Random" icon-off="ion-shuffle" icon-on="ion-shuffle" ui-sref="home.random">
    <ion-nav-view name="random"></ion-nav-view>
  </ion-tab>

  <!-- Search Gifs Tab -->
  <ion-tab title="Search" icon-off="ion-ios-search-strong" icon-on="ion-ios-search-strong" ui-sref="home.search">
    <ion-nav-view name="search"></ion-nav-view>
  </ion-tab>

</ion-tabs>
