
<ion-view ng-controller="RandomController as viewModel" view-title="Get a Random Gif">
  <ion-content class="padding" ng-show="!$root.isOffline">

      <div class="list card">
        <div class="item item-positive item-divider align-text-center">
          <h2 class="light">{{ viewModel.randomGif.title }}</h2>
        </div>

        <div class="item item-image">
          <img ng-src="{{ viewModel.randomGif.imageUrl }}" alt="{{ viewModel.randomGif.caption }}" loading-image-spinner />

          <p class="image-loading-spinner"><ion-spinner icon="ripple"></ion-spinner></p>
        </div>

        <div class="item item-assertive tabs tabs-secondary">
          <a class="tab-item align-text-center" href="#">
            <i class="icon ion-android-download ion-icon-white"></i>
          </a>
          <a class="tab-item  align-text-center" ng-click="viewModel.shareGif(viewModel.randomGif)">
            <i class="icon ion-android-share-alt ion-icon-white"></i>
          </a>
          <a class="tab-item align-text-center" ng-click="viewModel.getAnotherRandomGif()">
            <i class="icon ion-ios-refresh ion-icon-white"></i>
            Refresh
          </a>
        </div>
      </div>
  </ion-content>

  <ion-content class="padding" ng-show="$root.isOffline">
    <div class="card">
      <div class="item item-text-wrap align-text-center">
        You are in offline mode. Please turn on wifi or your mobile data to view some awesome gifs.
      </div>
    </div>
  </ion-content>

</ion-view>
