
<ion-view ng-controller="SearchController as viewModel" view-title="Search Gifs">
  <ion-content class="padding" ng-show="!$root.isOffline" overflow-scroll="true">
    <form ng-submit="viewModel.searchGifs(searchCriteria)">
      <div class="list list-inset">
          <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" placeholder="Search Gifs" ng-model="searchCriteria" />
          </label>
        </div>
      </div>
    </form>

    <div ng-show="noSearchResults" class="card">
      <div class="item item-text-wrap align-text-center">
        No results found for: "{{ searchCriteria }}". Please try searching for something else.
      </div>
    </div>
    <div ng-repeat="gif in viewModel.Gifs">

        <div class="list card">
          <div class="item item-positive item-divider align-text-center" ng-click="showGifModal(gif)">
            <h2 class="light">{{ gif.title }}</h2>
          </div>

          <div class="item item-image" ng-click="showGifModal(gif)">
            <img ng-src="{{ gif.fixedWidthStillUrl }}" alt="{{ gif.caption }" loading-image-spinner />

            <p class="image-loading-spinner"><ion-spinner icon="ripple"></ion-spinner></p>
          </div>

          <div class="item item-assertive tabs tabs-secondary">
            <!--
            <a class="tab-item  align-text-center" href="#">
              <i class="icon ion-android-download ion-icon-white"></i>
            </a>
          -->
            <a class="tab-item  align-text-center" data-tap-disabled="true"  ng-click="viewModel.shareGif(gif)">
              <i class="icon ion-android-share-alt ion-icon-white"></i>
            </a>
          </div>

          <script id="gif-modal.html" type="text/ng-template">
            <ion-modal-view>
              <ion-header-bar class="bar bar-header bar-dark">
                <h3 class="title">{{ modal.gif.title }}</h3>
              </ion-header-bar>
              <ion-content>

                <div ng-click="showGifModal(gif)" class="list card">
                  <div class="item item-image">
                    <img ng-src="{{ modal.gif.fixedWidthUrl }}" alt="{{ modal.gif.caption }" loading-image-spinner />

                    <p class="image-loading-spinner"><ion-spinner icon="ripple"></ion-spinner></p>
                  </div>
                </div>

              </ion-content>

              <ion-footer-bar class="bar">
                <div class="button-bar">
                  <a class="button button-dark button-primary" ng-click="modal.hide()">Close</a>
                </div>
              </ion-footer-bar>

            </ion-modal-view>
          </script>
        </div>
    </div>
    <ion-infinite-scroll distance="1%" icon="ion-loading-c" on-infinite="getMoreGifs(searchCriteria)"></ion-infinite-scroll>
  </ion-content>

  <ion-content class="padding" ng-show="$root.isOffline">
    <div class="card">
      <div class="item item-text-wrap align-text-center">
        You are in offline mode. Please turn on wifi or your mobile data to view some awesome gifs.
      </div>
    </div>
  </ion-content>
</ion-view>
